<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.ac.kmutnb.myprojectapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PigMe!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProjectAPP"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.order.OrderStatusChangeAdmin">
        </activity>
        <activity
            android:name=".ui.order.OrderStatusChange"
            android:exported="false" />
        <activity android:name=".ui.order.OrderDetail">
        </activity>
        <activity
            android:name=".admin.AdminDetail"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.AdminOrder" />
        </activity>
        <activity
            android:name=".admin.AdminOrder"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.AdminActivity" />
        </activity>
        <activity
            android:name=".CartActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".EditAccountActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AccountActivity" />
        </activity>
        <activity
            android:name=".admin.AdminEditFood"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.AdminAllfood" />
        </activity>
        <activity
            android:name=".admin.AdminAddfood"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.AdminActivity" />
        </activity>
        <activity
            android:name=".admin.AdminListfoodActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminAllfood"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.AdminActivity" />
        </activity>
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".AccountActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AppStartActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.home.ListAllfood"
            android:exported="false"
            android:label="All Foods">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="PigMe!" />
        <activity
            android:name=".ui.categoryfood.TabmenuActivity"
            android:exported="false"
            android:label="Categorys">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>